@using Sequencing.WeatherApp.Models
@model Sequencing.WeatherApp.Models.RunResult

@{
    ViewBag.Title = "Your daily 'Weather +RTP App' recommendations";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Facebook-->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--Google+-->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    @if (Model.Context.IsAuthenticated)
    {

            <div id="share"><img id="shareButton" src="/assets/img/social-share-icon-64px.png" /></div>

            <div id="shareWindow">
                <h3>Share your genetically tailored forecast</h3>
                <div id="fbShare"><a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fweather-app.sequencing.com" target="_blank"><img src="/assets/img/facebook-icon-Simek-sequencing-com.png" height="78" width="78" /></a></div>
                <div id="gPlusOne"><a href="https://plus.google.com/share?url=url=https%3A%2F%2Fweather-app.sequencing.com" target="_blank"><img src="/assets/img/google-plus-icon-Simek-sequencing-com.png" height="78" width="78" /></a></div>

                 <div id="linkedIn"><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fweather-app.sequencing.com&title=The%20Weather%20My%20Way%20app%20just%20analyzed%20my%20genes.%20Based%20on%20today%27s%20weather%2C%20My%20recommendation%20is%20&"><img src="/assets/img/linkedin-icon-sequencing-com.png" height="78" width="78" /></a></div>
                <div id="pinterest"><a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true" data-pin-description="The%20Weather%20My%20Way%20app%20just%20analyzed%20my%20genes.%20Based%20on%20today%27s%20weather%2C%20My%20recommendation%20is%20&"><img src="/assets/img/pinterest-icon-Simek-sequencing-com.png" height="78" width="78" /></a></div>
                
                <div id="twitter"><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fweather-app.sequencing.com&text=The%20Weather%20My%20Way%20app%20just%20analyzed%20my%20genes.%20Based%20on%20today%27s%20weather%2C%20My%20recommendation%20is%20" target="_blank"><img src="/assets/img/twitter-icon-Simek-sequencing-com.png" height="78" width="78" /></a></div>
                <div id="reddit"><a href="https://www.reddit.com/submit?url=https%3A%2F%2Fweather-app.sequencing.com&title=The%20Weather%20My%20Way%20app%20just%20analyzed%20my%20genes.%20Based%20on%20today%27s%20weather%2C%20My%20recommendation%20is%20" target="_blank"><img src="/assets/img/reddit-icon-sequencing-com.png" height="78" width="78" /></a></div>
            </div>
    }


<div id="titleText">
    <h3 id="titleOne">
        Weather My Way
    </h3>
    <h4 id="subTitle">with Real-Time Personalization<sup id="tm">TM</sup></h4>
</div>

<div id="now">
    <p id="currentWeather">
        <br /><b>@Model.CurrentWeather.display_location.full</b> <br />
        @Model.CurrentWeather.observation_time

</div>
<div id="tempNow">

    @if (Model.Temperature == TemperatureMode.F)
    {
        <div id="highLow">
            <b>H: @Model.Forecast.forecast.simpleforecast.forecastday[0].high.fahrenheit<sup id="tempSymbolTwo">&#8457</sup></b><br />
            L: @Model.Forecast.forecast.simpleforecast.forecastday[0].low.fahrenheit<sup id="tempSymbolTwo">&#8457</sup>
        </div>
                                <div id="currentTemp">
                                    <b>@Model.CurrentWeather.temp_f</b><sup id="tempSymbol">&#8457</sup>
                                </div>
    }
    else
    {
        <div id="highLow">
            <b>H: @Model.Forecast.forecast.simpleforecast.forecastday[0].high.celsius<sup id="tempSymbolTwo">&#8451</sup></b><br />
            L: @Model.Forecast.forecast.simpleforecast.forecastday[0].low.celsius<sup id="tempSymbolTwo">&#8451</sup>
        </div>
                                <div id="currentTemp">
                                    <b>@Model.CurrentWeather.temp_c</b><sup id="tempSymbol">&#8451</sup>
                                </div>
    }
    <div id="iconNow">
        @{ 
            var timeDay ="day/";

            var night = Model.CurrentWeather.icon_url.Contains("nt_");
            if (night)
            {
                timeDay = "night/";
            }
          
            var source = "../assets/img/WeatherIcons/" + timeDay + Model.Forecast.forecast.simpleforecast.forecastday[0].icon + ".png";

        <img id="forecastIcon" src=@source />}<br /><br /><br /><br />
        <p id="forecastIconText">@Model.Forecast.forecast.simpleforecast.forecastday[0].conditions</p>
    </div>
</div>
<div id="stats">
    <table id="statsTable">
        <tr style="text-align:center">
            <td>wind</td>
            <td>chance of precipitation</td>
            <td>humidity</td>
        </tr>
        <tr style="text-align:center">
            <td>
                @if (Model.Temperature == TemperatureMode.F)
                {
                    @(Model.CurrentWeather.wind_mph + "mph")
                }
                else
                {
                    @(Model.CurrentWeather.wind_kph + "km/h")
                }
                @Model.CurrentWeather.wind_dir
            </td>
            <td>
                @Model.Forecast.forecast.simpleforecast.forecastday[0].pop&#37

            </td>
            <td>
                @Model.CurrentWeather.relative_humidity
            </td>
        </tr>
    </table>
</div>

<div id="tip">
    <h5 id="tipTitle">Your genetically tailored forecast</h5>
    <p id="tipDetail">@Model.Risk</p>
</div>

<div id="forecastDetails">


    @if (Model.Forecast.alerts.Capacity != 0)
    {
        <h5 id="fcDetailTitle" style="color:red">WEATHER ALERT</h5>
                                <p style="color:red">@Model.Forecast.alerts[0].message</p>
    }
    else
    {
        if (Model.Temperature == TemperatureMode.F)
        {
            <h5 id="fcDetailTitle">Today's extended forecast</h5>
                                    @Model.Forecast.forecast.txt_forecast.forecastday[0].fcttext
        }
        else
        {
            <h5 id="fcDetailTitle">Today's extended forecast</h5>
                                    @Model.Forecast.forecast.txt_forecast.forecastday[0].fcttext_metric
        }
    }
</div>




@if (Model.Forecast != null)
{
    <table id="Forecast">
        <tr>
            @for (int _idx = 1; _idx < 5; _idx++)
            {
                <td id="day@_idx">
                    <b>@Model.Forecast.forecast.simpleforecast.forecastday[_idx].date.weekday</b><br />
                    <img class="fcIcon" src=@("../assets/img/WeatherIcons/day/"+Model.Forecast.forecast.simpleforecast.forecastday[_idx].icon+".png") /><br />
                    <p><b> @(Model.Temperature == TemperatureMode.F ? Model.Forecast.forecast.simpleforecast.forecastday[_idx].high.fahrenheit
                                   : Model.Forecast.forecast.simpleforecast.forecastday[_idx].high.celsius)</b><br />
                        @(Model.Temperature == TemperatureMode.F ? Model.Forecast.forecast.simpleforecast.forecastday[_idx].low.fahrenheit
                              : Model.Forecast.forecast.simpleforecast.forecastday[_idx].low.celsius)
                    </p>
                </td>
            }
        </tr>

    </table>
}
<script>
    function checkApp() {

        $.ajax({
            url: '@Html.Raw(Url.Action("CheckForJobRefresh", "Default", new { jobDt = Model.JobDateTime}))',
            contentType: 'application/json',
            method: "GET",
            success: function (data) {
                if (data == "True")
                    window.location.replace('@Html.Raw(Url.Action("GoToResults"))');
            }
        });
        setTimeout(checkApp, 2000);

    };

    $(function () {
        checkApp();
    });
</script>




